*{margin: 0;padding: 0}
        body{background-color: #ccc;}
        li{list-style-type: none;}
        #article{
            width: 800px;
            margin: 10px auto;
        }
        #article ul li{
            display: inline-block; 
            width: 100%;
            line-height: 30px;
            text-indent: 40px; 
            background-color:#58aaa5;
            border-bottom: 1px solid;
            border-radius: 10px;
            color:#fff;
            font-size: 18px;
            box-shadow: 5px 5px 5px #858585;
        }
        #article ul li span{
            float: right;
            font-size: 16px;
            margin:20px 5px 0px 0px;
        }
        #article .input{
            position: relative;
            height: 200px;
            background-color:#eff7ff;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #858585;
            padding: 10px; 
            overflow-y:auto;
        }
        #article button#btn{
            width: 120px;
            height: 40px;
            font-size: 18px;
            border-radius: 5px;
            background-color:#000;
            color:#fff;
            cursor: pointer;
        }
        #article .other{
            position: relative;
        }
        #article .other p{
            position: absolute;
            top:60px;
            left:220px;
            font-size: 50px;
            opacity: 0.1;
            color: #858585;
        }