#art-run{
    position: absolute;
    width:100%;
}
#art-run span{
    position: relative;
    top:0px;
    left:100%;
}
#articleCon{
    font-size: 20px;
    margin-top: 30px;
    color:#fff;
}
#articleCon ul{
    width: 50%;
    margin: 0px auto;
}
#articleCon .article-list{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(121, 121, 121, 0.3);
    box-shadow: 2px 2px 5px 2px;
    border-radius: 10px;
    margin-bottom:10px;
    padding:10px 0;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s linear;
}
#articleCon .article-list:hover{
    background-color: rgba(0, 255, 200, 0.3);
    transform: scale(1.05);
    transition: all 0.3s linear;
}

#articleCon .article-list a.articleLeft{
    cursor:pointer;
}
#articleCon .article-list .articleLeft img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
}
#articleCon .article-list .articleLeft img:hover{
    border: 1px solid red;
    transition: all 0.3s linear;
}
#articleCon .article-list .articleRight{
    width:80%;
}
#articleCon .article-list .articleRight .title, .author, .type, .content{
    cursor:pointer;
}
#articleCon .article-list .articleRight span, .author, .type, .content{
    font-size: 16px;
}
#articleCon .article-list .articleRight .content{
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    text-indent:2em;

}
#articleCon .article-list .articleRight span{
    display:inline-block;
    margin:3px;
    text-align: center;
}
#articleCon .article-list .articleRight .type{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    color:white;
}
#articleCon .article-list .articleRight .title:hover,.type:hover, .author:hover{
    transition: all 0.3s linear;
    color:red;
}
#articleCon .article-list .articleRight .time{
    text-indent: 42em;
    font-size: 14px;
    margin:5px 0;
}
#paging{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;

}