body{background-color: rgb(155, 128, 112);}
#comment{
    width: 800px;
    margin: 10px auto;
}
#comment ul li{
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color:#58aaa5;
    border-bottom: 1px solid;
    border-radius: 10px;
    color:#fff;
    font-size: 18px;
    box-shadow: 5px 5px 5px #858585;
}
#comment .comment-list li img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* vertical-align: middle; */
}
#comment .comment-list li>div{
    display: inline-block;
    text-indent: 20px;
    vertical-align: middle;
}
#comment .comment-list li div .time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    color:rgb(223, 223, 223);
}