    * {
        margin: 0;
        padding: 0;
        border:0;
    }
    body{background-color: rgb(155, 128, 112);}
    li {
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    #nav a, #rightBtn a{
        color: #fff;
    }
    div#head{
        height: 40px;
        background: #000;
        font-size: 18px;
    }
    div#nav {
        margin:0px auto;
        width:40%;
    }
    div#nav ul {
        position: relative;
    }
    div#nav ul li {
        float: left;
        text-align: center;
        padding: 0px 30px;
    }
    div#nav ul li:hover {
        background: #009688;
        border-radius: 20px;
        animation:liRun .5s;
        font-size: 20px;
    }
    div#nav ul li:hover a{
        /* color:red; */
    }
    div#rightBtn{
        float: right;
    }
    /* 用户注册登录按钮 */
    div#rightBtn .log:hover, div#rightBtn .reg:hover{
        background-color: #009688;
        font-size: 20px;
        animation:run .5s;
    }
    div#rightBtn .log-reg .log, .reg{
        display: inline-block;
        width: 100px;
        border-radius: 10px;
        text-align: center;
    }
    /* 个人中心、退出按钮 */
    div#rightBtn .user:hover, div#rightBtn .logout:hover, div#rightBtn .user-logout .article-send:hover, div#rightBtn .headPhoto:hover, div#rightBtn .username:hover{
        background-color: #009688;
        animation:run .5s; 
        font-size: 20px;
    }
    div#rightBtn .user-logout .user,.headPhoto, .logout, .article-send, .username{
        display: inline-block;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        vertical-align:middle;
    }
    div#rightBtn .headPhoto img{
        width: 30px;
        height: 30px;
        vertical-align:middle;
        border-radius: 50%;
    }
    @keyframes run{
        from{background-color: #000;}
        to{background-color: #009688; font-size: 20px;}
    }
    @keyframes liRun{
        from{background-color: #000;}
        to{background-color: #009688; font-size: 20px;}
    }
    /* 指针 */
    div#nav span{
        /* display: none; */
        width:0;
        height:0;
        border-width:10px 10px 0;
        border-style:solid;
        border-color:rgb(0, 150, 136) transparent transparent;/*灰 透明 透明 */
        position:absolute;
        top:28px;
        left:38px;
    }
