body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body{background-color: rgb(155, 128, 112);}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
div#nav {
    height: 60px;
    margin: 0px auto;
    background: #000;
    text-align: center
}
div#nav ul {
    display: inline-block;
    height: 30px;
    margin: auto;
    line-height: 30px;
    padding: 15px 0;
}

div#nav ul li {
    float: left;
    font-size: 18px;
    text-align: center;
    padding: 0px 30px;
}

div#nav ul li:hover {
    background: skyblue;
    border-radius: 20px;
    animation:liRun .5s;
    font-size: 22px;

}
div#nav ul li:hover a{
    font-size: 22px;
    color:red;
}
div#rightBtn{
    position: absolute;
    top:20px;
    right:0px;
    width: 300px;
    font-size: 18px;
}
/* 用户注册登录按钮 */
div#rightBtn .log:hover, div#rightBtn .reg:hover{
    background-color: #6cdd22;
    font-size: 22px;
    animation:run .8s;
}
div#rightBtn .log-reg .log, .reg{
    display: inline-block;
    width: 100px;
    border-radius: 20px;
    text-align: center;
}
/* 个人中心、退出按钮 */
div#rightBtn .user:hover, div#rightBtn .logout:hover, div#rightBtn .user-logout .article-send:hover{
    background-color: #6cdd22;
    animation:run .8s; 
    font-size: 22px;
}
div#rightBtn .user-logout .user, .logout, .article-send{
    display: inline-block;
    width: 100px;
    border-radius: 20px;
    text-align: center;
}
@keyframes run{
    from{background-color: #000;}
    to{background-color: #6cdd22; font-size: 22px;}
}
@keyframes liRun{
    from{background-color: #000;}
    to{background-color: skyblue; font-size: 22px;}
}