
        *{
            margin: 0px;
            padding: 0px;
        }
        #regist, #login{
            display: inline;
        }
        form{
            /* display: none; */
            width: 400px;
            height: 600px;
            /* border: 1px solid; */
            margin: 10px auto;
            border-radius: 10px;
            background-color:#ddd;
            text-align: center;
            font-size: 18px;
        }
        form .layui-form-item{
            /* position: absolute; */
            width: 400px;
            height: 40px;
            margin: 0px auto;
            padding:15px 0px;
            text-align: center;
            line-height: 40px;
        }
        form .layui-form-item label{
            width: 60px;
            height: 60px;
        }
        form .layui-form-item div{
            display:inline-block;
        }
        form .layui-form-item input{
            width:250px ;
            height: 25px;
            font-size: 16px;
            border-radius: 5px;
        }
        form .layui-form-item p{
            /* float: right; */
            position: relative;
            top: -10px;
            left:120px;
            margin: 0;
            font-size: 14px;
            text-align: left;
        }
        form .layui-form-item .layui-btn{
            width: 100px;
            height: 30px;
            border-radius: 1px;
        }