body{
    background-color: rgb(155, 128, 112);
    position: relative;
}
#con{
    margin: 10px auto; 
    text-align:center; 
    font-size: 60px; 
    line-height:60px;
}

#con p{
    display:inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: -1;
    border-radius: 50%;
}