doctype html
html
    head
        title 44-js
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
        script(src="01登录验证.js")
        script(src="01登录验证.css")
        
    body
        div(id="wrap")
            div(class="img")
                img(src="img/2.jpg" alt="")
            inpu(class="phone" type="text" placeholder="手机号")
            div(lass="phPoint") 请输入11位手机号
            span 可以使用的手机号!
            span 不合法手机号!
            inpu(class="name" type="text" placeholder="用户名")
            div(lass="NaPoint") 请输入4到16位（字母，数字，下划线，减号）
            span 不合法的用户名
            span 可以使用的用户名
            inpu(class="pwd" type="text" placeholder="密码")
            div(class="pwdPoint") 最少6位，至少包含大、小写字母，数字，特殊字符各1个
            span 密码强度弱
            span 密码强度高
            inpu(class="pwds" type="text" placeholder="再次输入密码")
            span 两次输入的密码不一致
            span 两次输入的密码一致
            inpu(class="email" type="text" placeholder="邮箱")
            span 邮箱不存在或已注册
            span 可以使用的邮箱
            inpu(class="code" type="text" placeholder="验证码")
            span 验证码错误
            span 验证码正确
            inpu(class="con")
            span
            buttn 注册
    </div>
        
