<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../js-css/css/comment.css">
    <style>
        div{
            /* cursor:pointer; */
        }
        /* div:last-child */
    </style>
</head>
<body>
        <div id='comment'>
            <ul>
            </ul>
            <div class='other'>
                <div type="text" contenteditable="true" class="input"></div>
                <button id="btn">发表评论</button>
                <p>你要发表的评论</p>
            </div>
        <div>
    <script src="../js-css/js/comment.js"></script>
</body>
</html>