doctype html
html
    head
        title 44-js
        style
            include ../js-css/css/nav.css  
            include ../js-css/css/jump.css  

    body
        include nav-title.pug
        div(id="jump")   
            p(class="status") !{status}
            p(class='src') !{back} 
    script.
        setTimeout(()=>{
            let p = document.querySelector('#jump p')
            switch(p.innerHTML){
                case "注册成功":
                    location.href = '/user/login'
                    break;
                case "登录成功":
                    location.href = '/user/addArticlePage'
                    break;
                case "发表成功":
                    location.href = '/'
                    break;
                case "用户名已存在,请重新注册":
                    location.href = '/user/regist'
                    break;
                case "密码错误，请重新登录":
                    location.href = '/user/login'
                    break;
                case "用户名不存在，请注册":
                    location.href = '/user/regist'
                    break;
                case "发表失败":
                    location.href = '/user/addArticlePage'
                    break;
            }
        }, 2000) 