style.
    footer{
        position:relative;
        width:100%;
        padding:100px 0;
        text-align: center;
        font-size:14px;
        color:#000;
    }
    p{
        margin:10px;
    }

footer
    p 付出不亚于任何人的努力
    p Copyright ©2018-2019 YiYuan