doctype html
html
  head
    title 华为官网
    style
        include ../js-css/css/header.css
        include ../js-css/css/content.css
        include ../js-css/css/huawei.css

  script
    include ../js-css/js/huawei.js
  body
    div
      #title
        .icon-content
          ul
            li
              a.top(href='/') 首页
            li
              a.top(href='#') 华为官网
            li
              a.top(href='#') 荣耀官网
            li
              a.top(href='#') 花粉俱乐部
            li
              a.top(href='#') 帮助中心
            li
              a.top(href='#') V码（优购码）
            li
              a.top(href='#') 企业购
            li
              a.top(href='#') Select Region
            li
              a.top.last.a-block(href='#')
                span.down 更多精彩
              .h-1
                ul
                  li
                    a(href='#') EMUI
                  li
                    a(href='#') 应用市场
                  li
                    a(href='#') 华为终端云空间
                  li
                    a(href='#') 开发者联盟
                  li
                    - let img = '/img/header/02code.png'
                    img(src=img, width='76px', height='76px')
          .left
            a.top.last(href='#') 请登陆
            a.top(href='#') 注册
            a.top(href='#') 我的订单
            a.top.last.gwc(href='#') 购物车(0)
        .nav
          a.mid(href='#') 华为专区
          a.mid(href='#') 荣耀专区
          a.mid(href='#') HUIWEI P20
          a.mid(href='#') 荣耀V10
          a.mid(href='#') 华为新品汇
          a.mid(href='#') 荣耀好货
        input(type='text', name='', value='', placeholder='HUAWEI P20  荣耀V10')
        a.a-last(href='#')
      #content
        #content-first
          .top-all
            ul.c-nav
              li
                p
                  a.p-r(href='#') 手机
                p
                  a.p-r(href='#') 荣耀
                  a.p-r(href='#') HUAWEI P系列
                  span >
                .hover-a1.clearfix
                  .top
                    a.f-red(href='#') 浏览手机频道
                  .middle
                    a(href='#') 荣耀
                    a(href='#') HUAWEI P系列
                    a(href='#') 荣耀畅玩系列
                    a(href='#') HUAWEI Meat系列
                    a(href='#') HUAWEI nova系列
                    a(href='#') HUAWEI 麦芒系列
                    a(href='#') 华为畅享系列
                    a(href='#') 移动4G专区
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg')
                        p HUAWEI Mate RS保时捷设计
                        p.sp
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg')
              li
                p
                  a.p-r(href='#') 笔记本&平板
                p
                  a.p-r(href='#') 平板电脑
                  a.p-r(href='#') 笔记本电脑
                  span >
                .hover-a2.clearfix
                  .top
                    a.f-red(href='#') 浏览笔记本&平板频道
                  .middle
                    a(href='#') 平板电脑
                    a(href='#') H笔记本电脑
                    a(href='#') 笔记本配件
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/03 recommend-goods/recommend-goods-6.jpg')
                        p HUAWEI Mate RS保时捷设计
                        p.sp ￥1990
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-7.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-8.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg')
              li
                p
                  a.p-r(href='#') 智能穿戴
                p
                  a.p-r(href='#') 手环
                  a.p-r(href='#') 手表
                  a.p-r(href='#') VR
                  span >
                .hover-a3.clearfix
                  .top
                    a.f-red(href='#') 浏览智能穿戴频道
                  .middle
                    a(href='#') 手环
                    a(href='#') 手表
                    a(href='#') VR
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/04 recommend-hots/recommend-hots-1.jpg')
                        p 荣耀手环
                        p.sp ￥1099
                    div
                      img(src='/img/content/04 recommend-hots/recommend-hots-2.jpg')
                    div
                      img(src='/img/content/04 recommend-hots/recommend-hots-3.jpg')
                    div
                      img(src='/img/content/04 recommend-hots/recommend-hots-4.jpg')
              li
                p
                  a.p-r(href='#') 智能家居
                p
                  a.p-r(href='#') 路由器
                  a.p-r(href='#') 电视盒子
                  a.p-r(href='#') 照明
                  span >
                .hover-a4.clearfix
                  .top
                    a.f-red(href='#') 浏览智能家居频道
                  .middle
                    a(href='#') 路由器
                    a(href='#') 电视盒子
                    a(href='#') 照明
                    a(href='#') 环境
                    a(href='#') 家装
                    a(href='#') 子母/分布式路由器
                    a(href='#') 电力猫/wifi放大器
                    a(href='#') 随性wifi
                    a(href='#') 厨电
                    a(href='#') 安防
                    a(href='#') 其他
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg')
                        p HUAWEI Mate RS保时捷设计
                        p.sp ￥999
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg')
              li
                p
                  a.p-r(href='#') 通用配件
                p
                  a.p-r(href='#') 移动电源
                  a.p-r(href='#') 耳机
                  a.p-r(href='#') 音箱
                  span >
                .hover-a5.clearfix
                  .top
                    a.f-red(href='#') 浏览通用配件频道
                  .middle
                    a(href='#') 移动电源
                    a(href='#') 耳机
                    a(href='#') 音箱
                    a(href='#') 自拍杆/支架
                    a(href='#') 充电器
                    a(href='#') U盘/存储卡
                    a(href='#') 排插
                    a(href='#') 摄像头/镜头
                    a(href='#') 智能硬件
                    a(href='#') 生活周边
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg')
                        p HUAWEI Mate RS保时捷设计
                        p.sp ￥2990
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg')
              li
                p
                  a.p-r(href='#') 专属配件
                p
                  a.p-r(href='#') 保护壳
                  a.p-r(href='#') 保护套
                  a.p-r(href='#') 贴膜
                  span >
                .hover-a6.clearfix
                  .top
                    a.f-red(href='#') 浏览专属配件频道
                  .middle
                    a(href='#') 保护壳
                    a(href='#') 保护套
                    a(href='#') 贴膜
                    a(href='#') 盒子专属配件
                    a(href='#') 表带
                  .bottom
                    div
                      a(href='#')
                        img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg')
                        p HUAWEI Mate RS保时捷设计
                        p.sp ￥199
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg')
                    div
                      img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg')
        #content-second
          .second-all
            .left
              .left-1
                div
                  p
                    | 欢迎来到华为商城，请
                    a(href='#') 登录
                  p
                    | 还没账号？
                    a(href='#') 注册
                    | 即可享受
                span
                  a(href='#') 新人福利
                span
                  a(href='#') 会员频道
              .left-2
                ul
                  li
                    a.img-1(href='#')
                      div 镭雕定制
                  li
                    a.img-2(href='#')
                      div 新品预定
                  li
                    a.img-3(href='#')
                      div 优享购
                  li
                    a.img-4(href='#')
                      div 以旧换新
                  li
                    a.img-5(href='#')
                      div 企业购P20
                  li
                    a.img-6(href='#')
                      div 数码特惠
            .right
              .up
                a(href='#') 公告
              .down
                ul.clearfix
                  li
                    a(href='#')
                      span.sp-1
                      | 优购码
                  li
                    a(href='#')
                      span.sp-2
                      | 实名认证
                  li
                    a(href='#')
                      span.sp-3
                      | 手机充值
        #content-third
          .f-img
            img(src='/img/content/02 promo/promo-1.png')
            img(src='/img/content/02 promo/promo-2.png')
            img(src='/img/content/02 promo/promo-3.png')
            img.l-none(src='/img/content/02 promo/promo-4.png')
        #content-fourth
          .con-hot
            .h-title
              h2
                | 热销单品
            ul.clearfix
              li
                a(href='#')
                  img(src='/img/content/03 recommend-goods/recommend-goods-1.jpg')
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩7X
                  p
                    | 最高直降200
                  p.p-red
                    | ￥1199
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg', width='148px', height='148px')
                  p
                    | HUAWEI Mate 10
                  p
                    | 最高直降300
                  p.p-red
                    | ￥4199
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩7C
                  p
                    | 送价值百元读书券
                  p.p-red
                    | ￥899
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg', width='148px', height='148px')
                  p
                    | 华为畅享8 Plus
                  p
                    | 赠华为移动电源
                  p.p-red
                    | ￥1899
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-6.jpg', width='148px', height='148px')
                  p
                    | 荣耀V10
                  p
                    | 限时优惠200元
                  p.p-red
                    | ￥2799
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-7.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩7X
                  p
                    | 最高直降200
                  p.p-red
                    | ￥4499
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-8.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩7A
                  p
                    | 最高直降200
                  p.p-red
                    | ￥1199
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-7.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩7X
                  p
                    | 最高直降200
                  p.p-red
                    | ￥2799
        #content-fifth
          .con-ban
            a(href='#')
              img(src='/img/content/05 m-banner/m-banner-1.jpg')
        #content-sixth
          .con-jp
            .h-title
              h2
                | 精品推荐
            ul.clearfix
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg', width='148px', height='148px')
                  p
                    | 荣耀畅玩9
                  p
                    | 限时最高优惠500元
                  p.p-red
                    | ￥1899
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-3.jpg', width='148px', height='148px')
                  p
                    | HUAWEI VR 2
                  p
                    | 适配HUAWEI P20系列，Mate系列
                  p.p-red
                    | ￥1999
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-2.jpg', width='148px', height='148px')
                  p
                    | 荣耀Magic Book
                  p
                    | 6期免息 30天不爽就退
                  p.p-red
                    | ￥1199
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-4.jpg', width='148px', height='148px')
                  p
                    | 华为手环B3 青春版
                  p
                    | 是手环 也是耳机
                  p.p-red
                    | ￥499
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-5.jpg', width='148px', height='148px')
                  p
                    | 荣耀手环3
                  p
                    | 赠华为移动电源
                  p.p-red
                    | ￥1899
              li
                a(href='#')
                  p.p-img
                    img(src='/img/content/03 recommend-goods/recommend-goods-6.jpg', width='148px', height='148px')
                  p
                    | 华为智能脂秤
                  p
                    | 限时优惠200元
                  p.p-red
                    | ￥2799
      include ./footer.pug
