doctype html
html
  head
    meta(charset='utf-8')
    title 44js
    meta(name='yiyuan', content='webkit')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    style
      include ../js-css/css/nav.css
    style.
      fieldset{ width:500px;  font-size:18px; margin:10px auto; }
      fieldset form{ text-align:center;}
      fieldset input{ width:300px; height:30px; }
      fieldset select{ width:304px; height:34px; font-size:18px; cursor:pointer; }
      fieldset textarea{ width:300px; height:200px; font-size:18px; }
      fieldset div{ padding:10px 0px}
      fieldset button{width:100px; height:30px; cursor:pointer; }

    include nav-title.pug
    div(id="con")

    fieldset
      legend 发表文章
      form(action='http://localhost:3000/user/articleDate', method:'post')
        div
          label 文章标题
            input(type='text', name='title', autocomplete='off', placeholder='请输入标题')
        div
          label 关键词语
            input(type='text', name='username', placeholder='请输入', autocomplete='off')
        div
          label 文章类型
            select(name='interest')
              option(value='') 
              option(value='0', selected='') 前端
              option(value='1') React
              option(value='2') Angular 
              option(value='3') Vue
              option(value='4') 后端
        div
          label 
            span 文章内容
            textarea(placeholder='请输入内容', name="desc")
        div
          button 立即提交
          button(type='reset') 重置
  script    
    include ../js-css/js/nav-title.js
    include ../js-css/js/star.js
    //- include ../js-css/layui/layui.js
    //- // 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的
  //- script.
  //-   layui.use(['layer', 'form'], function(){
  //-   var layer = layui.layer
  //-   ,form = layui.form;
  //-   layer.msg('Hello World');
  //-   });
  //- script.
  //-   console.log(123)
  //-   console.log(window.layui.use)
  //-   //- include ../js-css/layui/layui.js
  //-   window.layui.use(['form', 'layedit', 'laydate'], function(){
  //-   var form = layui.form
  //-   ,layer = layui.layer
  //-   ,layedit = layui.layedit
  //-   ,laydate = layui.laydate;
  //-   //日期
  //-   laydate.render({
  //-   elem: '#date'
  //-   });
  //-   laydate.render({
  //-   elem: '#date1'
  //-   });
  //-   //创建一个编辑器
  //-   var editIndex = layedit.build('LAY_demo_editor');
  //-   //自定义验证规则
  //-   form.verify({
  //-   title: function(value){
  //-   if(value.length < 5){
  //-   return '标题至少得5个字符啊';
  //-   }
  //-   }
  //-   ,pass: [/(.+){6,12}$/, '密码必须6到12位']
  //-   ,content: function(value){
  //-   layedit.sync(editIndex);
  //-   }
  //-   });
  //-   //监听指定开关
  //-   form.on('switch(switchTest)', function(data){
  //-   layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
  //-   offset: '6px'
  //-   });
  //-   layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  //-   });
  //-   //监听提交
  //-   form.on('submit(demo1)', function(data){
  //-   layer.alert(JSON.stringify(data.field), {
  //-   title: '最终的提交信息'
  //-   })
  //-   return false;
  //-   });
  //-   //表单初始赋值
  //-   form.val('example', {
  //-   "username": "贤心" // "name": "value"
  //-   ,"password": "123456"
  //-   ,"interest": 1
  //-   ,"like[write]": true //复选框选中状态
  //-   ,"close": true //开关状态
  //-   ,"sex": "女"
  //-   ,"desc": "我爱 layui"
  //-   })
  //-   });
