form(id=show ? "regist" : "", action="login" method="post")
    h2 请填写登陆信息
    //- 用户名
    div(class="user layui-form-item")
        label(class="layui-form-label") 用户昵称：
        div(class="layui-input-block")
            input(type="text" name="username" required  lay-verify="username" placeholder="请输入您的用户名" autocomplete="off" class="layui-input")
        p 4到16位(字母,数字,下划线,减号)
    
    //- 手机号
    div(class="phone layui-form-item")
        label(class="layui-form-label") 手机号码：
        div(class="layui-input-block")
            input(type="text" name="phone" required  lay-verify="required" placeholder="请输入您的手机号" autocomplete="off" class="layui-input")
        p 请输入11位手机号
    //- <!-- 密码框 -->
    div(class="pwd layui-form-item")
        label(class="layui-form-label") 输入密码：
        div(class="layui-input-block")
            input(type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input")
        p 最少6位,大,小写字母,数字,特殊字符各一个
    //- <!-- 提交 -->
    div(class="btn layui-form-item")
        div(class="layui-input-block")
            button(class="layui-btn") 立即提交
            button(type="reset" class="layui-btn layui-btn-primary") 重置