<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>carousel模块快速使用</title>
  <link rel="stylesheet" href="../js-css/layui/css/layui.css" media="all">
</head>
<body>
 
<div class="layui-carousel" id="test1">
  <div carousel-item>
    <div>
        <img src="../js-css/img/1.jpg", alt="", srcset="")>
    </div>
    <div>
        <img src="../js-css/img/2.jpg", alt="", srcset="")>
    </div>
    <div>
        <img src="../js-css/img/3.jpg", alt="", srcset="")>
    </div>
    <div>
        <img src="../js-css/img/4.jpg", alt="", srcset="")>
    </div>
    <div>
        <img src="../js-css/img/5.jpg", alt="", srcset="")>
    </div>
  </div>
</div>
<!-- 条目中可以是任意内容，如：<img src=""> -->
 
<script src="../js-css/layui/layui.js"></script>
<script>
layui.use('carousel', function(){
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
        elem: '#test1'
        ,width: '80%' //设置容器宽度
        ,height: '1080px' //设置容器宽度
        ,arrow: 'always' //始终显示箭头
        ,anim: 'fade' //轮播切换动画方式,可选值为: 默认default(左右切换) updown(上下切换) fade(渐隐渐显切换)
        ,interval: 2000 //自动切换的时间间隔,单位:ms(毫秒),不能低于800 默认3000
        ,arrow: "hover" //切换箭头默认显示状态,可选值为: 默认hover(悬停显示) always(始终显示) none(始终不显示)
        ,indicator: "outside" //指示器位置,可选值为: 默认inside(容器内部) outside(容器外部) none(不显示)  
    });
});
layui.use('layim', function(layim){
    //先来个客服模式压压精
    layim.config({
        brief: true //是否简约模式（如果true则不显示主面板）
        }).chat({
        name: '客服姐姐'
        ,type: 'friend'
        ,avatar: 'http://tp1.sinaimg.cn/5619439268/180/40030060651/1'
        ,id: -2
    });
});

</script>
</body>
</html>