div(id="nav")
    ul
        li
            a(href="") 首页
        li
            a(href="") 前端开发
        li
            a(href="") 移动开发
        li
            a(href="") 游戏开发
        li
            a(href="") 编程语言
div(id='rightBtn')
    if session && !session.isNew
        div(class='user-logout')
            div(class='article-send')
                a(href="http://106.14.118.126:6868/user/article" class='no-f5') 发表文章
            div(class='user')
                a(href="hhttp://106.14.118.126:6868") 个人中心
            div(class='logout') 
                a(href="http://106.14.118.126:6868/user/logout") 退出
    else 
        div(class='log-reg')
            div(class='log')
                a(href="hhttp://106.14.118.126:6868/user/login") 登录
            div(class='reg') 
                a(href="http://106.14.118.126:6868/user/regist") 注册            
        