div(id="nav")
    div(class="wechat")
        //- img(src="img/demo2-1/weixin.png")
    ul
        li
            a(href="") 首页
        li
            a(href="") 品牌
        li
            a(href="") 传奇
        li
            a(href="") 微信
        li
            a(href="") 支付
        li
            a(href="") 客服
        li
            a(href="http://localhost:3001/user/regist") 注册
        li
            a(href="http://localhost:3001/user/login") 登录