//- style
    //- include ../js-css/css/nav.css
    //- include ../js-css/css/star.css
div(id="con")
div(id='head')
    div(id="nav")
        ul(class="")
            li(class="layui-nav-item")
                a(href="/") 首页
                span 
            li
                a(href="/user/autoPic") 游戏
            li
                a(href="/") 前端
            li
                a(href="/") 后台
            li
                a(href="/") 编程
            li
                a(href="/") 服务
    div(id='rightBtn')
        if session && !session.isNew
            div(class='user-logout')
                div(class='article-send')
                    a(href="/user/addArticlePage" class='no-f5') 发表文章
                div(class='headPhoto')
                    img(src=session.headPhoto, alt="", srcset="" class='')
                div(class='username')
                    a(href='/')=session.username
                div(class='user')
                    a(href="/") 个人中心
                div(class='logout') 
                    a(href="/user/logout") 退出
        else 
            div(class='log-reg')
                div(class='log')
                    a(href="/user/login") 登录
                div(class='reg') 
                    a(href="/user/regist") 注册  
//- script
    //- include ../js-css/js/star.js
    //- include ../js-css/js/nav-title.js

          
            