div(id="nav")
    ul(class="layui-nav")
        li(class="layui-nav-item")
            a(href="http://localhost:3000") 首页
        li(class="layui-nav-item")
            a(href="http://localhost:3000/autoPic") 轮播
        li(class="layui-nav-item")
            a(href="") 移动
        li(class="layui-nav-item")
            a(href="") 游戏
        li(class="layui-nav-item")
            a(href="") 编程
div(id='rightBtn')
    if session && !session.isNew
        div(class='user-logout')
            div(class='article-send')
                a(href="http://localhost:3000/user/article" class='no-f5') 发表文章
            div(class='user')
                a(href="hhttp://localhost:3000") 个人中心
            div(class='logout') 
                a(href="http://localhost:3000/user/logout") 退出
    else 
        div(class='log-reg')
            div(class='log')
                a(href="http://localhost:3000/user/login") 登录
            div(class='reg') 
                a(href="http://localhost:3000/user/regist") 注册            
        