div(id="nav")
    ul(class="layui-nav")
        li(class="layui-nav-item")
            a(href="http://localhost:3000") 首页
            span 
        li
            a(href="") 轮播
            //- span
        li
            a(href="e") 移动
            //- span
        li
            a(href="") 游戏
            //- span
        li
            a(href="") 编程
            //- span
div(id='rightBtn')
    if session && !session.isNew
        div(class='user-logout')
            div(class='article-send')
                a(href="http://localhost:3000/user/layuiArticle" class='no-f5') 发表文章
            div(class='user')
                a(href="hhttp://localhost:3000") 个人中心
            div(class='logout') 
                a(href="http://localhost:3000/user/logout") 退出
    else 
        div(class='log-reg')
            div(class='log')
                a(href="http://localhost:3000/user/login") 登录
            div(class='reg') 
                a(href="http://localhost:3000/user/regist") 注册            
        