div(id="nav")
    ul
        li
            a(href="") 首页
        li
            a(href="") 前端开发
        li
            a(href="") 移动开发
        li
            a(href="") 游戏开发
        li
            a(href="") 编程语言
        li
            a(href="") 发表文章
        li
            a(href="http://localhost:3000/user/regist") 注册
        li
            a(href="http://localhost:3000/user/login") 登录