div(id="nav")
    ul
        li
            a(href="http://localhost:3000") 首页
        li
            a(href="http://localhost:3000/autoPic") 轮播图
        li
            a(href="") 移动开发
        li
            a(href="") 游戏开发
        li
            a(href="") 编程语言
div(id='rightBtn')
    if session && !session.isNew
        div(class='user-logout')
            div(class='article-send')
                a(href="http://localhost:3000/user/article" class='no-f5') 发表文章
            div(class='user')
                a(href="http://localhost:3000") 个人中心
            div(class='logout') 
                a(href="http://localhost:3000/user/logout") 退出
    else 
        div(class='log-reg')
            div(class='log')
                a(href="http://localhost:3000/user/login") 登录
            div(class='reg') 
                a(href="http://localhost:3000/user/regist") 注册            
        