doctype html
html
    head
        title=title
        style
            include ../js-css/css/nav.css
            include ../js-css/css/star.css
    body
        div(id="con")
        include nav-title.pug
        include content.pug
    script
        include ../js-css/js/nav-title.js
        include ../js-css/js/star.js

            
