doctype html
html
    head
        title=title
        style
            include ../js-css/css/nav.css
    body
        include nav-title.pug
        include content.pug
    script
        include ../js-css/js/nav-title.js
            
