doctype html
html
    head
        title 44-js
        style
            include ../js-css/css/nav.css
            include ../js-css/layui/css/layui.css
    body
        include nav-title.pug
        include content.pug
    script
        include ../js-css/js/nav-title.js
        include ../js-css/layui/layui.js
            
