doctype html
html
  head
    meta(charset='utf-8')
    title 44js
    meta(name='yiyuan', content='webkit')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    style.
        fieldset.layui-elem-field{ width:1000px;  font-size:18px; margin:10px auto; }
        fieldset form.layui-form{ display:inline-block; width:1000px; margin:10px auto; }
        #comment-txt{height:500px;}
    style
        include ../js-css/css/nav.css
        include ../js-css/css/star.css
        include ../js-css/layui/css/layui.css
    body
        include nav-title.pug
        fieldset.layui-elem-field.layui-field-title
            legend 发表文章
            form.layui-form.layui-form-pane(action='/user/addArticlePage', method="post")
                .layui-form-item
                    label.layui-form-label 文章标题
                    .layui-input-block
                        input.layui-input(type='text', name='title', autocomplete='off', placeholder='请输入标题', lay-verify='required')
                .layui-form-item
                    label.layui-form-label 关键字
                    .layui-input-inline
                        input.layui-input(type='text', name='keyword', lay-verify='required', placeholder='请输入', autocomplete='off')
                .layui-form-item
                    label.layui-form-label 文章类型
                    .layui-input-block
                        select(name='interest', lay-filter='')
                            option(value='')
                            option(value='前端', selected='') 前端
                            option(value='React') React
                            option(value='Angular') Angular 
                            option(value='Vue') Vue
                            option(value='后端') 后端
                .layui-form-item.layui-form-text
                    label.layui-form-label 文章内容
                    .layui-input-block
                        textarea#comment-txt.layui-textarea(placeholder='请输入内容', lay-verify='required', name="content")
                .layui-form-item
                    .layui-input-block
                        button.layui-btn(lay-submit='', lay-filter='demo1') 立即提交
                        button.layui-btn.layui-btn-primary(type='reset') 重置
    script(src="/layui/layui.js")
    script    
        include ../js-css/js/nav-title.js
        include ../js-css/js/star.js
    script.
        layui.use(['form', 'layedit', 'laydate', "layer"], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate
                ,layer = layui.layer;
            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');
            console.log(editIndex)
            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 5){
                        return '标题至少得5个字符啊';
                    }
                }
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });
        });
