html
    head
        title 44-js   
        style
            include ../js-css/css/nav.css
            include ../js-css/css/reg.css
        //- script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        //- script(src="../js-css/layui-v2.4.5/layui/layui.js")
        
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
        link(rel="stylesheet" href="./layui-v2.4.5/layui/regist.css")
        script(src="./layui-v2.4.5/layui/layui.js")
        //- script(src="../js-css/layui-v2.4.5/layui/regist.js")


    body
        include nav-title.pug
        include regist.pug
        include login.pug
    script
        include ../js-css/js/regist.js
        
        
        
