html
    head
        title 44-js   
        style
            include ../js-css/css/nav.css
            include ../js-css/css/reg.css
    body
        include nav-title.pug
        include regist-login.pug
    script
        include ../js-css/js/regist.js

        
        
        
