html
    head
        title 44-js   
        style
            include ../js-css/css/nav.css
            include ../js-css/css/reg.css
        script(src="")
        link(rel="stylesheet", href="")
    body
        include nav-title.pug
        include regist.pug
        include login.pug
    script
        include ../js-css/js/reg.js
        
        
        
