#wrap{ position: relative; width: 400px;height: 600px;  margin: 50px auto;}
.img{ text-align: center; }
img{ width: 150px; height: 150px; border-radius: 50%; vertical-align: middle;} 
.phPoint{  position: absolute; top:40px; left: 10px; opacity: 0.4; font-size: 14px; }
.NaPoint{ position: absolute; top:90px;  left: 10px; opacity: 0.4; font-size: 14px; }
.pwdPoint{ position: absolute; top:140px; left: 10px; opacity: 0.4; font-size: 14px; }
input{ width: 100%; height: 30px; margin: 10px 0px; border-bottom-color:rgb(189, 182, 202); border-top-width: 0; border-left-width: 0; border-right-width: 0; border-bottom-width: 1px;font-size:20px; text-indent: 10px; opacity: 0.5; }
input:focus{ border: 1px solid red; }
button{ width: 100%; height: 40px;background-color:rgb(85, 101, 105); font-size:20px; cursor: pointer; }
span{ display: none; }
.on{ display: inline-block; position: absolute; top: 13px; left: 280px; width: 120px; height: 30px; font-size: 14px; color:red; }
.nameOn{ display: inline-block; position: absolute; top: 65px; left: 285px; width: 120px; height: 30px; font-size: 14px; color:red;}
.pwdOn{display: inline-block; position: absolute; top: 114px;   left: 325px; width: 120px; height: 30px;font-size: 14px; color:red;}
.pwdsOn{ display: inline-block; position: absolute; top: 163px; left: 260px; width: 150px; height: 30px; font-size: 14px; color:red;}
.emailOn{ display: inline-block; position: absolute; top: 215px; left: 297px; width: 150px; height: 30px; font-size: 14px; color:red;}
.codeOn{ display: inline-block; position: absolute; top: 265px; left: 230px; width: 100px; height: 30px; font-size: 14px; color:red;}
.con{ display: inline-block; position: absolute; top: 250px;  left: 335px; width: 65px; height: 25px; border: 1px solid; font-size: 18px; color:#000; line-height: 25px; text-align: center; cursor: pointer;}