doctype html
html
    head
        title 44-js
        style.
            body{ background: #ddd}
            div#warp{ width: 200px; height: 200px; border: 1px solid #000}
            .regist{background:pink}
            .login{background:red}
            button{width:100px;height:30px;font-size:16px;cursor:pointer;}
            a{text-decoration: none; color: #000}
            a:hover{color:red}
    body
        div(id="con") 已登录,登陆成功
        a(href="http://localhost:3000/user") 已登录,登陆成功
    script.
        setTimeout(()=>{
            location.href = '/'
        }, 2000) 
        
